@import url(https://fonts.googleapis.com/css?family=Quicksand&display=swap);

body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
   content:url(https://mojojohoe.github.io/Kinko/Tooltip2.png);
}

.p0 {
	color: #ea9999;
	white-space: nowrap;
	font-size: 130%;
}

.p10 {
	color: #f9b89c;
	white-space: nowrap;
	font-size: 130%;
}

.p20 {
	color: #f9cb9c;
	white-space: nowrap;
	font-size: 130%;
}

.p30 {
	color: #f9d79c;
	white-space: nowrap;
	font-size: 130%;
}

.p40 {
	color: #ffe599;
	white-space: nowrap;
	font-size: 130%;
}

.p50 {
	color: #f8ff99;
	white-space: nowrap;
	font-size: 130%;
}

.p60 {
	color: #dcff99;
	white-space: nowrap;
	font-size: 130%;
}

.p70 {
	color: #cbff99;
	white-space: nowrap;
	font-size: 130%;
}

.p80 {
	color: #baff93;
	white-space: nowrap;
	font-size: 130%;
}

.p90 {
	color: #97ff7f;
	white-space: nowrap;
	font-size: 130%;
}

.p100 {
	color: #75f868;
	white-space: nowrap;
	font-size: 130%;
}

.p999 {
	color: #b29bf5;
	white-space: nowrap;
	font-size: 130%;
	font-weight: bold;
}

.pask {
	color: #efefef;
	white-space: nowrap;
	font-size: 130%;
}

.pna {
	color: #b7b7b7;
	white-space: nowrap;
	font-size: 130%;
}

.pprd {
	color: #ffd966;
	white-space: nowrap;
	font-size: 130%;
}

.ppry {
	color: #83e258;
	white-space: nowrap;
	font-size: 130%;
}

.psub {
	color: #a7d6cc;
	white-space: nowrap;
	font-size: 130%;
}

.pdom {
	color: #fa9090;
	white-space: nowrap;
	font-size: 150%;
}

.preq {
	color: #f1c232;
	background-color: #D12828;
	white-space: nowrap;
	font-size: 130%;
	padding: 5px;
	border-radius: 5px;
}

.ckr {
	outline: 4px solid rgba(55, 46, 71, 0.65);
	outline-offset: 0px;
	outline-offset: -5px;
}

.scroll {
	width: 20px;
	height: 200px;
	overflow: auto;
	float: left;
	margin: 0 10px;
}

.scroll1::-webkit-scrollbar {
	width: 10px;
}

.scroll1::-webkit-scrollbar-track {
	background: rgba(47, 30, 51, 1);
}

.scroll1::-webkit-scrollbar-thumb {
	background: rgba(94, 89, 95, 0.92);
}

.results tr[visible='false'],
.no-kinks {
	display: none;
}

.results tr[visible='true'] {
	display: table-row;
}

.results tr td {
	padding: 20px;
}

.results {
	background-image: src("https://mojojohoe.github.io/Kinko/Carbon.png");
	background-repeat: repeat;
	width: 100% !important;
}

.search {
	padding: 3px;
	margin: 10px;
	min-width: 200px;
	width: 30%;
	color: rgba(30, 27, 27, 1.00);
}

.search {
	padding: 3px;
	margin: 10px;
	min-width: 200px;
	width: 30%;
	color: rgba(30, 27, 27, 1.00);
}

.kinko-table {
	border-collapse: collapse;
	color: #efefef;
	background: url(https://mojojohoe.github.io/Kinko/Carbon.png);
	table-layout: fixed;
	font-family: 'Quicksand', sans-serif;
	font-size: 130%;
}

.kinko {
	width: 100%;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #000000;
	background: linear-gradient(rgba(47, 30, 51, 0.78), rgba(47, 30, 51, 0.78)), url(https://mojojohoe.github.io/Kinko/Carbon.png);
	font-family: 'Quicksand', sans-serif;
}

.kinko-kn,
.kname {
	width: 10%;
	padding: 20px;
}

.kinko-kn {
	background: linear-gradient(rgba(133, 126, 135, 0.05), rgba(133, 126, 135, 0.05)), url(https://mojojohoe.github.io/Kinko/Carbon.png);
	border: 1px solid #363239;
}

.kinko-kd,
.kdesc {
	width: 90%;
	padding: 20px;
}

.kdesc {
	padding-right: 5% !important;
}

.kinko-kd {
	background: linear-gradient(rgba(133, 126, 135, 0.05), rgba(133, 126, 135, 0.05)), url(https://mojojohoe.github.io/Kinko/Carbon.png);
	border: 1px solid #363239;
}

.kinko-kp {
	min-width: 180px;
	padding: 20px;
	background: linear-gradient(rgba(133, 126, 135, 0.05), rgba(133, 126, 135, 0.05)), url(https://mojojohoe.github.io/Kinko/Carbon.png);
	text-align: left;
	border: 1px solid #363239;
}

.trow {
	border: 1px solid #000000;
	width: 100%;
}

.kinko-table thead,
.kinko-table tbody {
	display: block;
}

.kinko-table thead {
	-webkit-box-shadow: 0px 26px 37px -17px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 26px 37px -17px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 26px 37px -17px rgba(0, 0, 0, 0.75);
	z-index: 2;
	position: relative;
	width: 100%;
}

.kinko-table tbody {
	overflow: auto;
	max-height: 400px;
	height: 400px;
}

.kinko-table tbody::-webkit-scrollbar {
	width: 10px;
}

.kinko-table tbody::-webkit-scrollbar-track {
	background: rgba(47, 30, 51, 1);
}

.kinko-table tbody::-webkit-scrollbar-thumb {
	background: rgba(94, 89, 95, 0.92);
}

[class^="kp"] img {
	width: 32px;
	position: absolute;
	top: 0px;
	left: -50px;
	padding-right: 10px;
}

.tih {
	width: 32px;
	height: 32px;
	background: url(https://mojojohoe.github.io/Kinko/Tooltip1.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: -50px;
	padding-right: 10px;
}

.tih:hover {
	background: url(https://mojojohoe.github.io/Kinko/Tooltip2.png);
	background-repeat: no-repeat;
}

a.kinko_ttips {
	position: relative;
	display: inline;
}

a.kinko_ttips span {
	position: absolute;
	color: #FFFFFF;
	background: rgba(34,32,36,0.95) !important;
	border: 2px solid rgba(57, 31, 109, 0.6);
	line-height: 25px;
	text-align: center;
	visibility: hidden;
	border-radius: 11px;
	overflow-wrap: break-word;
	top: 50%;
    right:40px;
    min-width: 200px;
    height:fit-content;
    white-space: pre-line;
	font-size:1rem;
	padding:10px;
	font-weight:normal;
	
}
a:hover.kinko_ttips span {
	visibility: visible;
	margin-top: -25px;
	margin-right: 15px;
	z-index: 999;
}
#logo {
	content: url('https://mojojohoe.github.io/Kinko/Kinko.png');
	width: 100px;
	float:right;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
}
@media 
only screen and (max-width: 1200px) {
	.kinko-kn h2,.kinko-kd h2,.kinko-kp h2{
    transform: 
    rotate(270deg);
}
	.kinko-kn,.kinko-kd,.kinko-kp{
	padding:5px;
}
.kinko-kp{
	min-width:0px;
}
.kinko-table thead tr {
	padding:0px;
	height:200px;
}
[class^="kn"]{
	font-size:80%;
}
[class^="kd"]{
	font-size:80%;
}
[class^="kp"]{
	font-size:80%;
}
.kname, .kdesc{
    padding:5px;
}
.results tr td {
    padding:5px;
}
.trow{
	padding-left: 15px;
}
.tih {
	width: 25px;
	height: 25px;
	top: 0px;
	left: -40px;
	background-size:cover;
}
.tih:hover {
	width: 25px;
	height: 25px;
	top: 0px;
	left: -40px;
	background-size:cover;
}
@media only screen and (max-width: 830px),
(min-device-width: 838px) and (max-device-width: 1024px) {
	/* We're doing mobiles and small screens. Getting them display as block and adding individual headers. */
	.kinko-table table,
	.kinko-table thead,
	.kinko-table tbody,
	.kinko-table th,
	.kinko-table td,
	.kinko-table tr {
		display: block;
	}
	.kinko-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.kinko-kn,
	.kname {
		width: 90%;
		padding-top: 25px !important;
	}
	.kinko-kn,
	.kdesc {
		width: 90%;
		padding-top: 25px !important;
	}
	[class^="kp"] {
		margin: 0px;
		margin-top: 25px;
		font-size: 100%;
	}
	.kname::before {
		content: "Kink Name";
		color: #847A8A;
	}
	.kdesc::before {
		content: "Kink Description";
		color: #847A8A;
	}
	[class^="kp"]::before {
		content: "Preference";
		color: #847A8A;
		position: absolute;
		top: -2px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.trow {
		border: 2px solid rgba(178, 167, 177, 0.57);
	}
	.kinko-table td {
		position: relative;
		padding-left: 50%;
	}
	.kinko-table td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	[class^="kp"] img {
		width: 32px;
		position: absolute;
		top: -3px;
		left: 300px;
		padding-right: 10px;
	}
	.tih {
	top: -5px;
    right: -200px;
	left:inherit;
}
a.kinko_ttips span {
    top: -60px;
    left: -60px;
}
}